In [147]:
import pandas as pd
import numpy as np
import math
import random
from numpy.random import normal

In [148]:
inCsv = pd.read_excel("../data/InputData.xlsx")

In [149]:
studentsPerCourse = inCsv['COURSE_IDENTIFICATION'].value_counts().to_dict()

In [150]:
coursePool = [course for course, count in studentsPerCourse.items() for _ in range(count)]

In [151]:
students = inCsv['PIDM'].unique()

In [152]:
def normal_random(lower, upper):
    mean = (upper + lower)/2
    std_dev = (upper - lower) / 6
    retNum = np.random.normal(mean, std_dev)
    
    return round(retNum)

In [153]:
newRows = []

for student in students:
    numCourses = inCsv[inCsv['PIDM'] == student].iloc[0]['NO_CRS']
    # numCourses = normal_random(1,6)
    # if len(coursePool) < numCourses:
    #     coursePool = [course for course, count in studentsPerCourse.items() for _ in range(count)]

    chosenCourses = random.sample(coursePool, numCourses)

    for course in chosenCourses:
        coursePool.remove(course)

    for course in chosenCourses:
        newRow = {
            'PIDM': student,
            'ACADEMIC_PERIOD': inCsv[inCsv['PIDM'] == student].iloc[0]['ACADEMIC_PERIOD'],
            'COURSE_IDENTIFICATION': course,
            'SEC': "A01",
            'NO_CRS': numCourses 
        }
        newRows.append(newRow)

outDf = pd.DataFrame(newRows, columns=inCsv.columns)

In [154]:
outDf

         PIDM  ACADEMIC_PERIOD COURSE_IDENTIFICATION  SEC  NO_CRS
0       15021           202290              CHEM1100  A01       2
1       15021           202290              COMP1012  A01       2
2       17515           202290              CHEM1120  A01       3
3       17515           202290              MATH1500  A01       3
4       17515           202290              STAT1000  A01       3
...       ...              ...                   ...  ...     ...
22317  819282           202290              CHEM1126  A01       2
22318  819282           202290              CHEM1120  A01       2
22319  819285           202290              CHEM1100  A01       1
22320  819730           202290              STAT2220  A01       1
22321  819762           202290              BIOL2260  A01       1

[22322 rows x 5 columns]

In [155]:
outDf.to_csv('../data/newSampleInput.csv', index=False)